:root {
  --scroll-base: #f5e8c2;
  --shadow-color: #00000055;
  --max-width: 50rem;
  --header-footer-height: 5rem;
}
body {
  background-color: darkgrey;
  margin: 0;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  /* height: 100dvh; */
  position: relative;
  padding: var(--header-footer-height) 0 var(--header-footer-height);
}

main {
  
  min-height: calc(100dvh - 2 * var(--header-footer-height));
  /* background-color: var(--scroll-base); */
  /* background-color: #f5e8c2;
  background-image:
    repeating-linear-gradient(135deg, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.1) 2px),
    repeating-linear-gradient(90deg, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 2px),
    repeating-linear-gradient(0deg, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.06) 1px, rgba(0, 0, 0, 0.06) 2px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-repeat: repeat;
  background-size: 200% 200%, 100% 100%; */
  
  /* filter: url(#rough-edges); */
  /* -webkit-backdrop-filter: url(#rough-edges); */
  /* filter: url(#wavy2); */
  /* -webkit-mask-image: url('#rough-edges'); */
  /* -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%; */
  /* mask-image: url('#rough-edges');
      mask-repeat: no-repeat;
      mask-size: 100% 100%; */
  /* opacity: 0.5; */
  overflow-y: auto;
  /* z-index: -10; */
}

main::before {
  /* max-width: var(--max-width); */
  content: '';
  position: absolute;
  inset: 0;
  background: var(--scroll-base);
  filter: url(#rough-edges);
  
  /* border-radius: inherit;
  overflow: hidden; */
  /* z-index: 0; */
  /* border-radius: 10px; */
}

main > * {
  position: relative;
  /* z-index: 1; */
  /* padding: 20px; */
}

.noise-overlay::before, header::before, footer::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  filter: url(#noise);
  opacity: 0.3;
  background-blend-mode: multiply;
  z-index: 1; 
}

.body-inner {
  padding: 2rem;
  height: inherit;
}

header, footer {
  z-index: 10;
  position: fixed;
  box-shadow: 0rem 0rem 1rem 1rem var(--shadow-color);
  max-width: var(--max-width);
  width: 100%;
  height: var(--header-footer-height);
  background-color: var(--scroll-base);
}

header {
  top: 0;
}
footer {
  bottom: 0;
}



.header-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;

  background: var(--shadow-color);
  
  -webkit-mask-image: linear-gradient( to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}
.charm-regular {
  font-family: "Charm";
  font-weight: 400;
  font-style: normal;
}