:root {
  --scroll-base: #f5e8c2;
  --shadow-color: #00000055;
  --max-width: 50rem;
  --header-footer-height: 5rem;
}
body {
  background-color: darkgrey;
  margin: 0;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  /* height: 100dvh; */
  position: relative;
  padding: var(--header-footer-height) 0 var(--header-footer-height);
}

main {
  
  min-height: calc(100dvh - 2 * var(--header-footer-height));
  overflow-y: auto;
  /* z-index: -10; */
}

main::before {
  /* max-width: var(--max-width); */
  content: '';
  position: absolute;
  inset: 0;
  background: var(--scroll-base);
  filter: url(#rough-edges);
}

main > * {
  position: relative;
  /* z-index: 1; */
  /* padding: 20px; */
}

.noise-overlay::before {
  filter: url(#noiseOverlay);
}

header::before, footer::before {
  filter: url(#noise);
}

.noise-overlay::before, header::before, footer::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  
  /* was 0.4 */
  opacity: 0.75;
  /* background-blend-mode: multiply; */
  z-index: 1; 
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 1) 100%
  );
}

.body-inner {
  padding: 2rem;
  height: inherit;
}

header, footer {
  z-index: 10;
  position: fixed;
  box-shadow: 0rem 0rem 1rem 1rem var(--shadow-color);
  max-width: var(--max-width);
  width: 100%;
  height: var(--header-footer-height);
  background-color: var(--scroll-base);
  /* inset: 0; */
  filter: url(#rough-edges-tb);
  overflow-y: hidden;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.header-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /* left: 1%; */
  pointer-events: none;

  background: var(--shadow-color);
  
  -webkit-mask-image: linear-gradient( to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.wood-rod::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 1;
  scale: 2 0.5;
  z-index: 1;
  filter: url(#noise); /* This creates the noise texture */
  mix-blend-mode:overlay;
}

.wood-rod {
  position: fixed;
  max-width: 60rem;
  width: 100%;
  height: 2.90rem;
  margin-left: -5rem;
  margin-top: -4rem;
  background-color: rgb(63, 39, 4);
  /* width: 110%; */
  /* padding-left: 10rem; */
  overflow: hidden;
  
  box-shadow: 0rem 0rem 1rem 1rem var(--shadow-color);
}

.wood-rod-overlay {
  position: fixed;
  max-width: 60rem;
  width: 100%;
  height: 2.9rem;
  margin-left: -5rem;
  margin-top: -4rem;
  /* padding-left: 10rem; */

  pointer-events: none;

  background: var(--shadow-color);
  /* background-color: pink; */

  -webkit-mask-image: linear-gradient( to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bottom-rod {
  bottom: 1rem;
}

.charm-regular {
  font-family: "Charm";
  font-weight: 400;
  font-style: normal;
}

a {
  color: crimson;
}

a:hover {
  cursor: pointer;
}
